<%- include('./include/header', {
title: 'CryptoDogs',
description: 'CryptoDogs',
keywords: 'CryptoDogs',
plugin: [],
private: ['../css/public.css', '../css/auxiliary-word.css'],
status: 'full',
login: false,
page: 'auxiliary-word'
}) %>

<main class="Main">
    <div class="Hero auxiliary-word active">
        <div class="Container Container--sm Container--center">
            <h2 class="Hero-h2">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">讓我們開始吧...</font>
                </font>
            </h2>
            <p class="Hero-description">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">以下內容非常重要，請仔細閱讀</font>
                </font>
            </p>
            <form>
                <div class="Section">
                    <img class="ProfileHeader-image ProfileHeader-image--clickable" src="../images/icons/head.svg">
                </div>
                <div class="Section">
                    <p class="InputButtons-group randomAuxiliaryWordSection">
                        <label for="address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">助記詞</font>
                            </font>
                        </label>
                        <textarea class="auxiliaryWord InputButtons InputButtons-input InputButtons--readonly" placeholder="助記詞" maxlength="100" readonly=""></textarea>
                        <!--<input type="text" class="auxiliaryWord InputButtons InputButtons-input InputButtons&#45;&#45;readonly" placeholder="助記詞" maxlength="100" readonly="">-->
                    </p>
                </div>
                <div class="Section">
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">助記詞用於恢復錢包資產，擁有助記詞即可完全控制錢包資產，丟失助記詞即丟失錢包資產</font>
                        </font>
                        <a>
                            <font style="vertical-align: inherit;"></font>
                        </a>
                        <font style="vertical-align: inherit;"></font>
                    </p>
                    <div class="Note Note--warning">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">請務必牢記助記詞並妥善保存，CryptoDogs不存儲用護助記詞，無法提供找回功能</font>
                        </font>
                    </div>
                    <a class="Button Button--love Button--larger nextStep">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">下壹步</font>
                        </font>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="Hero transaction-password">
        <div class="Container Container--sm Container--center">
            <h2 class="Hero-h2">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        填寫交易密碼
                    </font>
                </font>
            </h2>
            <form>
                <div class="Section">
                    <img class="ProfileHeader-image ProfileHeader-image --clickable" src="../images/icons/head.svg">
                </div>

                <div class="Section auxiliaryWordSection">
                    <div class="InputButtons-group">
                        <label for="address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">確認助記詞</font>
                            </font>
                        </label>
                        <textarea class="InputButtons InputButtons--readonly InputButtons-input auxiliaryWordConfirm" placeholder="請按序選擇剛剛生成的助記詞" maxlength="100"></textarea>
                        <!--<ul class="markWords"></ul>-->
                    </div>
                </div>
                <div class="Section wordButtonSection"></div>
                <a class="Button Button--love Button--larger prevStep">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            查看助記詞
                        </font>
                    </font>
                </a>
                <div class="Section">
                    <p class="InputButtons-group">
                        <label for="address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    交易密碼
                                </font>
                            </font>
                        </label>
                        <input type="password" class="InputButtons InputButtons-input passport" placeholder="請填寫交易密碼" maxlength="100">
                    </p>
                </div>
                <div class="Section">
                    <p class="InputButtons-group">
                        <label for="address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    確認交易密碼
                                </font>
                            </font>
                        </label>
                        <input type="password" class="InputButtons InputButtons-input passportConfirm" placeholder="請確認交易密碼" maxlength="100">
                    </p>
                </div>
                <div class="Section">
                    <div class="Note Note--warning">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                交易密碼完成後，我們將為您生成錢包地址
                            </font>
                        </font>
                    </div>
                    <!--<a class="Button Button&#45;&#45;love Button&#45;&#45;larger prevStep">-->
                        <!--<font style="vertical-align: inherit;">-->
                            <!--<font style="vertical-align: inherit;">-->
                                <!--上壹步-->
                            <!--</font>-->
                        <!--</font>-->
                    <!--</a>-->
                    <a class="Button Button--love Button--larger nextStep">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                下壹步
                            </font>
                        </font>
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>


<%- include('./include/footer', {
plugin: [],
private: ['../js/public.js', '../js/api.js','../js/auxiliary-word.js'],
statistics: ''
}) %>