<%- include('./include/header', {
title: 'CryptoDogs',
description: 'CryptoDogs',
keywords: 'CryptoDogs',
plugin: [],
private: ['../css/public.css'],
status: 'full',
login: false,
page: 'mydogs'
}) %>

<main class="Main">
    <div class="FaqPage">
        <div class="FaqBanner">
            <div class="FaqBanner-Kitty">
                <img src="../images/index/avatar.svg">
            </div>
        </div>
        <div class="Container Container--sm">
            <div class="FaqGroup">
                <h2 class="FaqGroup-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">了解加密狗</font>
                    </font>
                </h2>
                <div class="FaqGroup-questions">
                    <div class="Faq Faq--open" role="button" id="What-is-CryptoKitties">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">什麽是加密狗？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">加密狗是壹個圍繞著可育，可收集和可愛生物的遊戲，我們稱之為加密狗！</font>
                                <font style="vertical-align: inherit;">每只狗都是獨壹無二的，100％歸您所有;</font>
                                <font style="vertical-align: inherit;">它不能被復制，帶走或毀壞。</font>
                            </font>
                        </p>
                    </div>
                    <div class="Faq Faq--open" role="button" id="What's-the-big-deal-about-CryptoKitties">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">加密狗有什麽特點？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                加密狗是全球第壹款基於Achain區塊鏈技術的寵物狗遊戲。 ACT幣是加密貨幣，狗狗是隱藏的收藏品。 您可以購買，出售或交易您的狗狗。狗狗是存在於區塊鏈上的，可以追蹤到歸屬，非常安全！
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                但是，與傳統收藏品不同的是，您可以培育兩種加密狗來創建壹個全新的，遺傳獨特的後代。
                            </font>
                        </p>
                    </div>
                </div>
            </div>
            <div class="FaqGroup">
                <h2 class="FaqGroup-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">買賣</font>
                    </font>
                </h2>
                <div class="FaqGroup-questions">
                    <div class="Faq Faq--open" role="button" id="How-do-I-get-a-cryptoKitty">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">我如何獲得加密狗？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">轉到“市場”，裏面有等待出售的各種加密狗。</font>
                            </font>
                        </p>
                    </div>
                    <div class="Faq Faq--open" role="button" id="How-do-I-sell-or-breed-CryptoKitties">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">我如何出售或培育加密狗？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">您的加密狗的個人資料頁面上有兩個按鈕，用於出售或生育新的加密狗。</font>
                            </font>
                        </p>
                    </div>
                    <div class="Faq Faq--open" role="button" id="How-much-does-it-cost-to-buy-a-cryptoKitty">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">購買加密狗需要多少錢？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">加密狗沒有標準價格。</font>
                                <font style="vertical-align: inherit;">用戶在出售自己的小狗自己設定了起始價格，價格壹直下降到拍賣結束，或者小狗被其他用戶購買。</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">加密狗團隊每30分鐘發布1個新的“第0代”加密狗。</font>
                                <font style="vertical-align: inherit;">“第0代”加密狗的起始價格是最近5個此類加密狗的平均價格的150%。</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">請註意，您需要使用ACT來購買加密狗。</font>
                            </font>
                        </p>
                    </div>
                    <div class="Faq Faq--open" role="button" id="How-many-CryptoKitties-do-I-need-to-get-started">
                        <h3 class="Faq-question">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">我需要多少個加密狗？</font>
                            </font>
                        </h3>
                        <p class="Faq-answer">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">我們建議從兩個開始，以便您有壹個狗狗可以開始生育。</font>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./include/footer', {
plugin: [],
private: ['../js/public.js'],
statistics: ''
}) %>