<%- include('./include/header', {
title: 'CryptoDogs',
description: 'CryptoDogs',
keywords: 'CryptoDogs',
plugin: [],
private: ['../css/public.css', '../css/merry.css'],
status: 'full',
page: 'login'
}) %>


<main class="Main">
    <div>
        <div class="Landing">
            <div class="Landing-description">
                <div class="Landing-description-content">
                    <h1 class="Landing-headline">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">嗨，快來領取<span class="line-feed">妳的加密狗<em>！</em></span></font>
                        </font>
                    </h1>
                    <p class="Landing-subheadline">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">可繁殖、可加密、可親昵</font>
                        </font>
                    </p>
                    <div class="button-wrap">
                        <a class="Button Button--largest Button--love Button--cta beginButton" aria-current="false">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">開始，汪！</font>
                            </font>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Landing-slots">
                <div class="Landing-pattern">
                    <img class="Landing-kitty" src="../images/index/01.svg">
                    <img class="Landing-kitty" src="../images/index/02.svg">
                    <img class="Landing-kitty" src="../images/index/03.svg">
                    <img class="Landing-kitty" src="../images/index/04.svg">
                    <img class="Landing-kitty" src="../images/index/05.svg">
                    <img class="Landing-kitty" src="../images/index/06.svg">
                    <img class="Landing-kitty" src="../images/index/07.svg">
                    <img class="Landing-kitty" src="../images/index/08.svg">
                    <img class="Landing-kitty" src="../images/index/09.svg">
                    <img class="Landing-kitty" src="../images/index/10.svg">
                </div>
            </div>
        </div>
        <div class="Explainer">
            <div class="Explainer-bg">
                <div class="Container Container--lg">
                    <div class="Explainer-what">
                        <div class="Explainer-ethKitty">
                            <img src="../images/merry/merry-second.svg">
                            <div class="popup-talk"><img src="../images/index/talk.svg"/></div>
                        </div>
                        <div class="Explainer-what-text">
                            <h2 class="Explainer-headline">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">加密狗是什麼？</font>
                                </font>
                            </h2>
                            <p class="Explainer-description">
                                <font style="vertical-align: inherit;">
                                    <em>這是壹個可收集、可繁育寵物的遊戲，我們稱之為加密狗！ 每只狗都是獨壹無二的，100％歸您所有; 它不能被復制、帶走或銷毀。</em>
                                </font>
                            </p>
                        </div>
                        <div class="merry-tree"><img src="../images/merry/merry-tree.svg"/></div>
                    </div>
                </div>
            </div>
            <div class="Explainer-wrap">
                <div class="Container Container--center">
                    <div class="Explainer-why">
                        <h2 class="Explainer-headline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">加密狗有什麼特點？</font>
                            </font>
                        </h2>
                        <p class="Explainer-description">
                            <font style="vertical-align: inherit;">
                                <em>加密狗是全球第壹款基於Achain區塊鏈技術的寵物狗遊戲。 ACT蔽是加密貨蔽，狗狗是隱藏的收藏品。 您可以購買，出售或交易您的狗狗。狗狗是存在於區塊鏈上的，可以追蹤到歸屬，非常安全！</em>
                            </font>
                        </p>
                    </div>
                </div>
                <div class="Explainer-bg dog-birth">
                    <div class="Container Container--lg">
                        <div class="Explainer-breed">
                            <div class="Explainer-breedKitty"><img src="../images/index/four-0.svg"></div>
                            <div class="Explainer-breedKitty Explainer-breedKitty--icons">
                                <img src="../images/index/four-1.svg">
                            </div>
                            <div class="Explainer-breedKitty"><img src="../images/index/four-2.svg"></div>
                        </div>
                    </div>
                </div>
                <div class="Container Container--center">
                    <div class="Explainer-cta">
                        <p class="Explainer-description2">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">但是，與傳統收藏品不同的是，您可以培育兩種加密狗來創建壹個全新的，遺傳獨特的後代。</font></font>
                        </p>
                        <p class="Explainer-description2" style="padding: 4rem;">
                            <strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">它產生了獨壹無二的東西，就像妳壹樣！</font>
                                </font>
                            </strong>
                        </p>
                        <a class="Button Button--largest Button--love Button--cta beginButton" aria-current="false" href="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">開始，汪！</font>
                            </font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./include/footer', {
plugin: [],
private: ['../js/api.js', '../js/public.js'],
statistics: ''
}) %>