<%- include('./include/header', {
title: 'CryptoDogs',
description: 'CryptoDogs',
keywords: 'CryptoDogs',
plugin: [],
private: ['../css/public.css'],
status: 'full',
login: true,
page: 'mydogs'
}) %>

<%- include('./include/pay') %>

<main class="Main">
    <div class="KittyPage my-kitty-sire">
        <div class="KittyBanner u-bg-alt-strawberry">
            <div class="Container Container--full">
                <div class="KittyBanner-container">
                    <a aria-current="false"></a>
                    <!--<div class="KittyBanner-share">-->
                    <!--<img class="KittyBanner-shareBtn" src="/images/icons/share.svg" alt="分享我！" role="button">-->
                    <!--&lt;!&ndash; react-empty: 89 &ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="KittyPage-content">
            <div class="KittySire">
                <div class="Container Container--sm">
                    <div class="KittyAuction">
                        <h2 class="KittyAuction-title">
                            <i class="Icon Icon--eggplant">
                            </i>
                            <!-- react-text: 96 -->
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    配種生育
                                </font>
                            </font>
                            <!-- /react-text -->
                        </h2>
                        <div class="Tabs Tabs--center">
                            <ul class="Tabs-labels">
                                <li class="Tabs-label is-active">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            去市場中發售
                                        </font>
                                    </font>
                                </li>
                                <!--<li class="Tabs-label">-->
                                <!--<font style="vertical-align: inherit;">-->
                                <!--<font style="vertical-align: inherit;">-->
                                <!--與我的小狗配對-->
                                <!--</font>-->
                                <!--</font>-->
                                <!--</li>-->
                            </ul>
                            <div class="Tabs-panes">
                                <div class="Tabs-pane">
                                    <div class="KittyAuction-description">
                                        <p>
                                            <strong>
                                                <em></em>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                將被投放市場。其他玩家的小狗可以同它壹起生育後代。後代歸屬對方, 妳將獲得ACT作為報酬。但需要註意的是, 生育後, 作為父母的小狗基因可能會出現退化。
                                            </font>
                                        </p>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                隨著時間推移,實際價格將從起始價格漸漸下降至結束價格。
                                            </font>
                                        </p>
                                    </div>
                                    <form class="AuctionForm">
                                        <label class="AuctionForm-row" for="field-startPrice">
                                            <span class="AuctionForm-title">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">輸入起始價格</font>
                                                </font>
                                            </span>
                                            <span class="AuctionForm-unit">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Ξ
                                                    </font>
                                                </font>
                                            </span>
                                            <input type="number" step="0.001" max="100000000" min="0.002" class="AuctionForm-value" value="0" id="input-startPrice">
                                        </label>

                                        <label class="AuctionForm-row" for="field-endPrice">
                                            <span class="AuctionForm-title">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        輸入結束價格
                                                    </font>
                                                </font>
                                            </span>
                                            <span class="AuctionForm-unit">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Ξ
                                                    </font>
                                                </font>
                                            </span>
                                            <input type="number" step="0.001" max="99999999" min="0.001" class="AuctionForm-value" value="0" id="input-endPrice">
                                        </label>
                                        <label class="AuctionForm-row" for="field-duration">
                                            <span class="AuctionForm-title">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        持續
                                                    </font>
                                                </font>
                                            </span>
                                            <span class="AuctionForm-unit">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        天
                                                    </font>
                                                </font>
                                            </span>
                                            <input type="number" step="0.5" min="0.5" class="AuctionForm-value" value="0.5" id="input-duration">
                                            <!--<input type="number" step="0.001" min="0.001" class="AuctionForm-value" value="0.5" id="input-duration">-->
                                        </label>
                                        <div class="AuctionForm-row AuctionForm-row--submit">
                                            <button class="Button Button--larger AuctionForm-button" type="submit">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        完成
                                                    </font>
                                                </font>
                                            </button>
                                        </div>
                                        <div class="Note Note--warning">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    警告: 您的收益中將會扣取 2.5% 作為手續費, 並且小狗進行生育後基因可能會出現退化 !
                                                </font>
                                            </font>
                                        </div>
                                    </form>
                                </div>
                                <div class="Tabs-pane" style="display: none">
                                    <p class="KittyAuction-description myOwnDogSire">
                                        <strong></strong>
                                        可以和妳自己的小狗的配種。妳選擇的小狗將會懷孕。記住，他每次孕育小狗後，他的孕育冷卻時間就會增加。
                                    </p>
                                    <a class="Button Button--large Button--wide Button--cta" aria-current="false" href="../html/kitty-sire.html">知道了, 開始孕育</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./include/footer', {
plugin: [],
private: ['../js/api.js', '../js/public.js', '../js/my-kitty-sire.js'],
statistics: ''
}) %>