<%- include('./include/header', {
title: 'CryptoDogs',
description: 'CryptoDogs',
keywords: 'CryptoDogs',
plugin: [],
private: ['../css/public.css'],
status: 'half',
login: false,
page: 'login'
}) %>

<main class="Main">
    <div class="ProfilePage">
        <div class="Container Container--lg">
            <div class="ProfileHeader">
                <div class="ProfileHeader-details">
                    <img class="ProfileHeader-image" src="../images/profile/profile-2.png">
                    <div class="ProfileHeader-info">
                        <h1 class="ProfileHeader-title">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    ⏱Kitty Clock⏱
                                </font>
                            </font>
                        </h1>
                        <div class="ProfileHeader-wallet">
                            <a class="CopyAddress">
                                <span>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            復制地址
                                        </font>
                                    </font>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ProfileFilterBar">
            <div class="Filter Filter--purple">
                <div class="Filter-container">
                    <div class="Filter-tabs">
					<span class="Filter-tab Filter-tab--active">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								所有的小貓
							</font>
						</font>
					</span>
                    </div>
                    <div class="Filter-selectors">
                        <select class="Filter-select" placeholder="Sorting order">
                            <option value="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        年齡最小
                                    </font>
                                </font>
                            </option>
                            <option value="old-first">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        最早的
                                    </font>
                                </font>
                            </option>
                            <option value="cheap">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        最便宜的第壹個
                                    </font>
                                </font>
                            </option>
                            <option value="expensive">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        最昂貴的第壹
                                    </font>
                                </font>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ProfileKitties">
            <div class="KittiesGallery">
                <div class="Container Container--lg">
                    <div class="KittiesGrid">
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/181916">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-gold KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/181916.svg" alt="凱蒂＃181916  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2524 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.9039
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2527 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2528 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12" font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃181916
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂181916·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/181607">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-topaz KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/181607.svg"
                                             alt="凱蒂＃181607  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2550 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.8213
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2553 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2554 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃181607
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂181607·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/181328">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-strawberry KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/181328.svg"
                                             alt="凱蒂＃181328  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2576 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.7276
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2579 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2580 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂＃181328
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂181328·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/181050">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-mintgreen KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/181050.svg"
                                             alt="凱蒂＃181050  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2602 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    7.5582
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2605 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2606 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂＃181050
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂181050·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/180758">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-mintgreen KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/180758.svg"
                                             alt="小鷹＃180758  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2628 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    6.7079
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2631 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2632 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃180758
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂180758·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/180446">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-sizzurp KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/180446.svg"
                                             alt="凱蒂＃180446  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2654 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    6.2814
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2657 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2658 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃180446
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂180446·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/180139">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-strawberry KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/180139.svg"
                                             alt="凱蒂＃180139  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2680 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    7.8617
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2683 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2684 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃180139
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂180139·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/179877">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-topaz KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/179877.svg"
                                             alt="凱蒂＃179877  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2706 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.2379
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2709 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2710 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃179877
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂179877·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/179570">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-sizzurp KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/179570.svg"
                                             alt="凱蒂＃179570  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2732 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.7446
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2735 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2736 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃179570
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂179570·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/179261">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-sizzurp KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/179261.svg"
                                             alt="凱蒂＃179261  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2758 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.6458
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2761 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2762 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃179261
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂179261·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/178960">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-gold KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/178960.svg"
                                             alt="凱蒂＃178960  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2784 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    8.6546
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2787 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2788 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃178960
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    基蒂178960·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="KittiesGrid-item">
                            <a aria-current="false" href="/kitty/178767">
                                <div class="KittyCard-wrapper">
                                    <div class="KittyCard u-bg-alt-sizzurp KittyCard--responsive">
                                        <img class="KittyCard-image" src="https://storage.googleapis.com/ck-kitty-image/0x06012c8cf97bead5deae237070f9587f8e7a266d/178767.svg"
                                             alt="凱蒂＃178767  -  null">
                                        <div class="KittyCard-status">
                                            <div class="KittyStatus">
                                                <div class="KittyStatus-item">
                                                    <span class="KittyStatus-itemIcon">
                                                        <i class="Icon Icon--tag">
                                                        </i>
                                                    </span>
                                                    <span class="KittyStatus-itemText">
													<!-- react-text: 2810 -->
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                對於銷售
                                                            </font>
                                                            <span class="KittyStatus-note">
                                                                <small>
                                                                    <font style="vertical-align: inherit;">
                                                                        Ξ
                                                                    </font>
                                                                </small>
                                                            </span>
                                                            <span class="KittyStatus-note">
                                                                <font style="vertical-align: inherit;">
                                                                    7.6587
                                                                </font>
                                                            </span>
                                                        </font>
                                                        <!-- /react-text -->
                                                        <span class="KittyStatus-note">
                                                            <small>
                                                                <font style="vertical-align: inherit;">
                                                                </font>
                                                            </small>
                                                            <!-- react-text: 2813 -->
                                                            <!-- /react-text -->
                                                            <!-- react-text: 2814 -->
                                                            <font style="vertical-align: inherit;">
                                                            </font>
                                                            <!-- /react-text -->
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="KittyCard-newBadge">
										<svg class="NewBadge" width="100%" height="100%" viewBox="0 0 38 38">
											<g fill="none" fill-rule="evenodd">
												<path d="M37.985 0L0 37.985V0h37.985z" fill="#E96BD4">
												</path>
												<text fill="#FFF" font-family="Calibre-Semibold, Calibre" font-size="12"
                                                      font-weight="500" letter-spacing=".4" transform="rotate(-45 13.581 14.581)">
													<tspan x="3.081" y="16.581">
														New
													</tspan>
												</text>
											</g>
										</svg>
									</span>
                                    </div>
                                    <div class="KittyCard-details">
                                        <div class="KittyCard-name">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂＃178767
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-subname">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    凱蒂178767·第0代
                                                </font>
                                            </font>
                                        </div>
                                        <div class="KittyCard-coldown">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    快速
                                                </font>
                                            </font>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="KittiesGalleryPagination">
                <div class="Pagination">
                    <div class="Pagination-pages">
                        <button class="Pagination-page Pagination-page--active">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    1
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-page">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    2
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-page">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    3
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-page">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    4
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-page">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    五
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-page">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    6
                                </font>
                            </font>
                        </button>
                    </div>
                    <div>
                        <button class="Pagination-button Pagination-button--disabled">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    以前
                                </font>
                            </font>
                        </button>
                        <button class="Pagination-button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    下壹個
                                </font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container Container--lg">
            <div class="Section">
                <div class="ReportPage">
                    <button class="ReportPage-button">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                報告頁面
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./include/footer', {
plugin: [],
private: ['../js/public.js'],
statistics: ''
}) %>