/**
 * Author：zhoushuanglong
 * Time：2017-12-09 18:20
 * Description：Description
 */

.kitty-sire {
    .Modal {
        display: none;
    }

    .dogSelectModal {
        .Modal-content {
            width: 70%;
            padding: 2rem 0 0;
        }
    }
}
