<div class="Modal extractBalanceModal">
    <div class="Modal-content">
        <div class="KittyTransferModal">
            <button class="KittyTransferModal-close"></button>
            <div class="Container Container--center">
                <div class="Section-modal">
                    <div class="InputButtons-group">
                        <label for="to">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">賬戶 ACT 數量：</font>
                            </font>
                        </label>
                        <span class="balanceNum"></span>
                    </div>
                </div>
                <div class="Section-modal">
                    <div class="InputButtons-group">
                        <label for="to">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">請輸入轉出 ACT 數量：</font>
                            </font>
                        </label>
                        <input type="number" step="0.00001" min="0" class="AuctionForm-value" value="0" id="extractNum">
                    </div>
                </div>
                <div class="Section-modal">
                    <div class="InputButtons-group">
                        <label for="to">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">輸入或粘貼錢包地址：</font>
                            </font>
                        </label>
                        <input type="text" id="to" name="to" class="InputButtons InputButtons-input extractTo" placeholder="請輸入需要轉出的錢包地址" value="">
                    </div>
                </div>

                <div class="Section-modal payPassword">
                    <div class="InputButtons-group">
                        <label for="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">請填寫交易密碼：</font>
                            </font>
                        </label>
                        <input type="password" class="InputButtons InputButtons-input passport" placeholder="請填寫交易密碼" maxlength="100">
                    </div>
                </div>
                <div class="Section-modal">
                    <button class="confirmButton Button Button--icon Button--disabled" disabled>
                        <span class="Button-icon">
                            <i class="Icon Icon--tag"></i>
                        </span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">確定提現</font>
                        </font>
                    </button>
                </div>
                <div class="Section-modal">
                    <div class="Note Note--warning">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">註意：提現可能會收取極少量的服務費！</font>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>