<div class="Modal" style="display: none">
    <div class="Modal-content">
        <div class="KittyShareModal">
            <button class="KittyShareModal-close"></button>
            <img class="KittyShareModal-image" src="../images/share-hero.png">
            <div class="Container Container--sm Container--center">
                <div class="Section">
                    <div class="KittyShareModal-description">
                        <span class="CopyShare">
                            <div class="InputButtons InputButtons--readonly">
                                <input type="text" class="InputButtons-input" placeholder="" value="https://www.cryptokitties.co/kitty/181607" maxlength="50">
                                <div class="InputButtons-buttons">
                                    <button class="InputButtons-button InputButtons-button--primary">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">復制鏈接</font>
                                        </font>
                                    </button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="Section">
                    <div class="KittyShareModal-actions">
                        <button class="Button Button--large KittyShareModal-button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">在臉書上分享</font>
                            </font>
                        </button>
                        <button class="Button Button--large KittyShareModal-button">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">分享到Twitter</font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>