<div class="Modal sugarModal">
    <div class="Modal-content">
        <div class="KittyTransferModal">
            <button class="KittyTransferModal-close"></button>
            <div class="Container Container--center">
                <div class="Section-modal">
                    <div class="InputButtons-group">
                        <label for="sugarAddr">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">請輸入領取糖果的 ACT 地址：</font>
                            </font>
                        </label>
                        <input type="text" id="sugarAddr" name="sugarAddr" class="InputButtons InputButtons-input sugarAddr" placeholder="請輸入 ACT 地址" value="">
                    </div>
                </div>

                <div class="Section-modal">
                    <div class="InputButtons-group">
                        <label for="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">請輸入交易密碼：</font>
                            </font>
                        </label>
                        <input type="password" class="InputButtons InputButtons-input passport" placeholder="請填寫交易密碼" maxlength="100">
                    </div>
                </div>

                <div class="Section-modal">
                    <div class="Note Note--warning">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">註意：必須是 Achain 錢包、Kcash 錢包中的 ACT 地址，否則可能無法正常接收糖果！</font>
                        </font>
                    </div>
                </div>
                <div class="Section-modal">
                    <button class="sugarConfirmButton Button Button--icon Button--disabled" disabled>
                        <span class="Button-icon">
                            <i class="Icon Icon--tag"></i>
                        </span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">確定提交</font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
